<app-navbar></app-navbar>
<table class="table">
    <thead>
      <tr>
        <th scope="col">TITLE</th>
        <th scope="col">DESCRIPTION</th>
        <th scope="col">DURATION</th>
        <th scope="col">VENUE</th>
        <th scope="col">DATE</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
        <td>{{i.title}}</td>
        <td>{{i.description}}</td>
        <td>{{i.duration}}</td>
        <td>{{i.venue}}</td>
        <td>{{i.date}}</td>

      </tr>
    
    </tbody>
  </table>